{% extends './index.html' %}

{% block titulo %}
    Criar questão
{% endblock %}

<body>
{% block conteudoprincipal %}
    <div class="login-container">
        <h1 class="login-title"><label for="questaotexto">Nova Questão:</label></h1>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <form method="POST" action="{% url 'votacao:inserirquestao' %}">
            {% csrf_token %}
            <input class="login-input" type="text" name="questaotexto"
                   placeholder="Introduza o texto da nova questão">
            <br>
            <input class="submit" type="submit" value="Submeter">
        </form>
    </div>
{% endblock %}
</body>
</html>