{% extends './index.html' %}

{% block titulo %}
    Criar opção
{% endblock %}

<body>

{% block conteudoprincipal %}

    <h1>Criar Opção para a Questão "{{ questao.questao_texto }}"</h1>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form method="POST" action="{% url 'votacao:inseriropcao' questao.id %}" >
        {% csrf_token %}
        <label for="opcaotexto">Nova Opção:</label>
        <input type="text" id="opcaotexto" name="opcaotexto">
        <button>Submeter</button>
    </form>
    
{% endblock %}

</body>
</html>