<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
            Página de entrada
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/style.css' %}">
</head>

<body>

<header>
    <div class="container">

        <div id="sessioninfo">
            {% if request.user.is_authenticated %}
                <h2>O user {{ request.user.username }} está logado</h2>
            {% else %}
                <h2>Não está logado...</h2>
            {% endif %}
        </div>

        <div id="header_profileimage">
            {% if request.session.profile_pic_url %}
                <img style="width: 50px; height: 50px" class="profileimg"
                     src="{{ request.session.profile_pic_url }}" alt="Profile Image">
            {% else %}
                <img style="width: 50px; height: 50px" class="profileimg" src="../../static/media/default.png">
            {% endif %}
        </div>


    </div>
    <div id="banner"></div>
</header>

<div class="container_background">
    <div class="container">
        <nav class="mainnav">
             {% if request.user.is_authenticated %}
                <ul>
                    {% if request.session.num_votos >= 0 %}
                        <li class="main_nav_li"><a href="{% url 'votacao:fazlogout' %}">Logout</a></li>
                        <li class="main_nav_li"><a href="{% url 'votacao:verperfil' %}">Ver perfil</a></li>
                        <li class="main_nav_li"><a href="{% url 'votacao:index' %}">Página inicial</a></li>

                    {% else %}
                        <li class="main_nav_li"><a href="{% url 'votacao:fazlogout' %}">Logout</a></li>
                        {% if request.user.is_superuser %}
                            <li class="main_nav_li"><a href="{% url 'votacao:criarquestao' %}">Criar Questão</a></li>
                        {% endif %}
                        <li class="main_nav_li"><a href="{% url 'votacao:index' %}">Página inicial</a></li>

                    {% endif %}
                </ul>
             {% else %}
                 <ul>
                    <li class="main_nav_li"><a href="{% url 'votacao:registar' %}">Registar</a></li>
                    <li class="main_nav_li" style="color: white">|</li>
                    <li class="main_nav_li"><a href="{% url 'votacao:fazlogin' %}">Login</a></li>
                    <li class="main_nav_li"><a href="{% url 'votacao:index' %}">Página inicial</a></li>
                 </ul>
             {% endif %}
        </nav>
    </div>
</div>



{% block conteudoprincipal %}
    <div class="container">
    <h1 id="questionlisttitle">Lista de perguntas</h1>
    {% if latest_question_list %}
        {% for questao in latest_question_list %}
            <div class="box" onclick='location.href="{% url 'votacao:detalhe' questao.id %}"' >
                {{ questao.questao_texto }}
            </div>

        {% endfor %}

    {% else %}
        <div class="container">
            <p>Não há questoes disponíveis.</p>
        </div>

    {% endif %}

     <form>
         <input type="submit" formaction="{% url 'votacao:fazerupload' %}" value="Upload test"><br>
     </form>
    </div>


{% endblock %}

</body>
</html>