<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
            Página de entrada
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votacao/css/style.css' %}">
</head>

<body>

<header>



</header>

<nav>
    {% if request.session.num_votos >= 0 %}
        <ul>
            <li class="navli"><p>Número total de votos: {{ request.session.num_votos }}</p></li>
            <li class="navli"><a href="{% url 'votacao:verperfil' %}">{{ request.user.username }}</a></li>
        </ul>
    {% else %}
        <p>{{ request.user.username }}</p>
    {% endif %}
</nav>

<div class="container">



{% if request.user.is_authenticated %}
    <h2>O user {{ request.user.username }} está logado</h2>
{% else %}
    <h2>Não está logado...</h2>
{% endif %}

{% block conteudoprincipal %}
    <h1> Lista de perguntas</h1>
    {% if latest_question_list %}
        <ul>
            {% for questao in latest_question_list %}
                <li>
                    <a href="{% url 'votacao:detalhe' questao.id %}">
                        {{ questao.questao_texto }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nao ha questoes disponiveis.</p>
    {% endif %}



    {% if request.user.is_superuser %}

        <form>
            <input type="submit" formaction="{% url 'votacao:criarquestao' %}" value="Criar Questão">
        </form>
    {% endif %}

    {% if request.user.is_authenticated %}
        <form>
        <input type="submit" formaction="{% url 'votacao:fazlogout' %}" value="Logout">
        </form>
    {% else %}
        <form>
            <input type="submit" formaction="{% url 'votacao:registar' %}" value="Registar"><br>
            <input type="submit" formaction="{% url 'votacao:fazlogin' %}" value="Login"><br>
        </form>
    {% endif %}

    {% if request.user.is_authenticated %}
        <form>
        {% if request.session.num_votos >= 0 %}
            <input type="submit" formaction="{% url 'votacao:verperfil' %}" value="Ver Perfil"><br>
        {% endif %}
        </form>
    {% endif %}

     <form>
         <input type="submit" formaction="{% url 'votacao:fazerupload' %}" value="Upload test"><br>
     </form>
    </div>


{% endblock %}

</body>
</html>