{% extends './index.html' %}

{% block titulo %}
    Página de login
{% endblock %}


<body>
{% block conteudoprincipal %}
    {% if msg_erro %}
        <h2>{{ msg_erro }}</h2>
    {% endif %}

    <h1>Login:</h1>
    <form action="{% url 'votacao:fazlogin' %}" method="POST">
        {% csrf_token %}
        <p>Username:</p>
        <input type="text" name="username" autofocus>
        <p>Password:</p>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Entrar">
    </form>
{% endblock %}
</body>
</html>