{% extends './index.html' %}

{% block titulo %}
    Página de registo
{% endblock %}

<body>
{% block conteudoprincipal %}
    <div class="login-container">
        <h1 class="login-title">Registar</h1>
            <form action="{% url 'votacao:registar' %}" method="POST">
                {% csrf_token %}
                <label for="username">Username:</label>
                <br>
                <input class="login-input" type="text" name="username" autofocus required>
                <br>
                <label for="email">Email:</label>
                <br>
                <input class="login-input" type="email" name="email">
                <br>
                <label for="password">Password:</label>
                <br>
                <input class="login-input" type="password" name="password" required>
                <br>
                <label for="curso">Curso</label>
                <br>
                <input class="login-input" type="text" name="curso" required>
                <br>
                <label for="comment">Insira um comentário:</label>
                <br>
                <input class="login-input" id="comment" type="text" name="comment">
                <div class="login-input" id="comment-result"></div>
                <button type="button" class="upload-submit" id="validate" onclick="validateComment()">Validar comentário</button>
                <br>
                <input class="submit" type="submit" value="Registar">
            </form>
    </div>
{% endblock %}
</body>
</html>