{% extends './index.html' %}

{% block titulo %}
    Perfil do {{ request.user.username }}
{% endblock %}


<body>
{% block conteudoprincipal %}

    <div id="showprofile">

        {% if request.session.profile_pic_url %}
            <img class="profileimg" src="{{ request.session.profile_pic_url }}" alt="Profile Image">
        {% else %}
            <img class="profileimg" src="../../static/media/default.png">
        {% endif %}

        <h1 id="username">{{ request.user.username }}</h1>
        <p class="profileinfo">Email: {{ request.user.email }}</p>
        <p class="profileinfo">Curso: {{ aluno.curso }}</p>
        <p class="profileinfo">Número de votos: {{ aluno.num_votos }}</p>



    </div>

{% endblock %}
</body>
</html>